<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{.Code}}-{{.Status}}</title>
    <style type="text/css" rel="stylesheet" media="all">
        html,body{
            margin: 0; padding: 0; width: 100%; background-color: #F2F4F6;
        }
        /* Media Queries */
        @media only screen and (max-width: 500px) {
            .button {
                width: 100% !important;
            }
        }
    </style>
</head>


<body>
<p>Code: {{.Code}}</p>
<p>Status: {{.Status}}</p>
<p>Cost: {{.Cost}}</p>
<p>URL: {{.URL}}</p>
<p>StartAt: {{.StartAt}}</p>
<p>EndAt: {{.EndAt}}</p>
<p>Log: {{.Log}}</p>
</body>
</html>